USE [master]
GO
/****** Object:  Database [UndderControl]    Script Date: 18/09/2019 06:57:15 ******/
CREATE DATABASE [UndderControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UndderControl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\UndderControl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UndderControl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\UndderControl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UndderControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UndderControl]
GO
USE [UndderControl]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CowStatus]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CowStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Farm_ID] [int] NOT NULL,
	[InfectedAtDryOff] [bit] NOT NULL,
	[InfectedAtCalving] [bit] NOT NULL,
	[CowIdentifier] [nvarchar](max) NULL,
	[DateAddedDryOff] [datetime] NULL,
	[DateAddedCalving] [datetime] NULL,
 CONSTRAINT [PK_dbo.CowStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Farm]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[HerdSize] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[FarmType_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Farm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FarmType]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FarmType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.FarmType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Survey]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IntroText] [nvarchar](max) NULL,
	[Version] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Language] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Survey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyQuestion]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyQuestion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Survey_ID] [int] NOT NULL,
	[Stage_ID] [int] NOT NULL,
	[QuestionNum] [int] NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuestionHelpText] [nvarchar](max) NULL,
	[QuestionStatement] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SurveyQuestion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyQuestionResponse]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyQuestionResponse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyResponse_ID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[StageID] [int] NOT NULL,
	[QuestionResponse] [bit] NOT NULL,
	[QuestionStatement] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SurveyQuestionResponse] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyResponse]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyResponse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Survey_ID] [int] NOT NULL,
	[SurveyVersion] [int] NOT NULL,
	[SubmittedDate] [datetime] NOT NULL,
	[Farm_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[ResponseIdentifier] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SurveyResponse] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyStage]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyStage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Survey_ID] [int] NOT NULL,
	[StageText] [nvarchar](max) NULL,
	[ShowStageIntro] [bit] NOT NULL,
	[StageTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SurveyStage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 18/09/2019 06:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CowStatus] ON 

INSERT [dbo].[CowStatus] ([ID], [Farm_ID], [InfectedAtDryOff], [InfectedAtCalving], [CowIdentifier], [DateAddedDryOff], [DateAddedCalving]) VALUES (1, 1, 1, 0, N'001', CAST(N'2018-07-20T06:52:42.067' AS DateTime), CAST(N'2018-09-18T06:52:42.067' AS DateTime))
INSERT [dbo].[CowStatus] ([ID], [Farm_ID], [InfectedAtDryOff], [InfectedAtCalving], [CowIdentifier], [DateAddedDryOff], [DateAddedCalving]) VALUES (2, 1, 0, 0, N'002', CAST(N'2018-07-20T06:52:42.067' AS DateTime), CAST(N'2018-09-18T06:52:42.067' AS DateTime))
INSERT [dbo].[CowStatus] ([ID], [Farm_ID], [InfectedAtDryOff], [InfectedAtCalving], [CowIdentifier], [DateAddedDryOff], [DateAddedCalving]) VALUES (3, 1, 1, 0, N'003', CAST(N'2018-07-20T06:52:42.067' AS DateTime), CAST(N'2018-09-18T06:52:42.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[CowStatus] OFF
SET IDENTITY_INSERT [dbo].[Farm] ON 

INSERT [dbo].[Farm] ([ID], [Name], [Address], [ContactName], [PhoneNumber], [HerdSize], [User_ID], [FarmType_ID]) VALUES (1, N'Buttercup Farm', N'9 Laneside', N'Farmer Bob', N'99999999', 200, 1, 2)
INSERT [dbo].[Farm] ([ID], [Name], [Address], [ContactName], [PhoneNumber], [HerdSize], [User_ID], [FarmType_ID]) VALUES (2, N'Old MacDonalds', N'123 Nursery Row', N'Farmer Harry', N'1234567890', 2000, 1, 5)
SET IDENTITY_INSERT [dbo].[Farm] OFF
SET IDENTITY_INSERT [dbo].[FarmType] ON 

INSERT [dbo].[FarmType] ([ID], [Name], [Active]) VALUES (1, N'Beef', 1)
INSERT [dbo].[FarmType] ([ID], [Name], [Active]) VALUES (2, N'Dairy', 1)
INSERT [dbo].[FarmType] ([ID], [Name], [Active]) VALUES (3, N'Finishing', 1)
SET IDENTITY_INSERT [dbo].[FarmType] OFF
SET IDENTITY_INSERT [dbo].[Survey] ON 

INSERT [dbo].[Survey] ([ID], [Name], [Description], [IntroText], [Version], [LastUpdated], [Language], [Active]) VALUES (1, N'SDCT', N'Farm Assessment Questionnaire', NULL, 10, CAST(N'2019-09-18T06:52:42.230' AS DateTime), N'EN', 1)
SET IDENTITY_INSERT [dbo].[Survey] OFF
SET IDENTITY_INSERT [dbo].[SurveyQuestion] ON 

INSERT [dbo].[SurveyQuestion] ([ID], [Survey_ID], [Stage_ID], [QuestionNum], [QuestionText], [QuestionHelpText], [QuestionStatement]) VALUES (1, 1, 1, 1, N'Is the farm willing to implement SDCT?', NULL, NULL)
INSERT [dbo].[SurveyQuestion] ([ID], [Survey_ID], [Stage_ID], [QuestionNum], [QuestionText], [QuestionHelpText], [QuestionStatement]) VALUES (2, 1, 1, 2, N'Is the BSCC in the farm lower than 250,000?', NULL, NULL)
INSERT [dbo].[SurveyQuestion] ([ID], [Survey_ID], [Stage_ID], [QuestionNum], [QuestionText], [QuestionHelpText], [QuestionStatement]) VALUES (3, 1, 2, 1, N'Do you have a dry-off strategy?', N'A set dry period length, reliable calving prediction, planning', N'You should work with your vet/MSD Animal Health Respresentative to create a dry-off stategy.')
SET IDENTITY_INSERT [dbo].[SurveyQuestion] OFF
SET IDENTITY_INSERT [dbo].[SurveyQuestionResponse] ON 

INSERT [dbo].[SurveyQuestionResponse] ([ID], [SurveyResponse_ID], [QuestionID], [StageID], [QuestionResponse], [QuestionStatement]) VALUES (1, 1, 1, 1, 1, NULL)
INSERT [dbo].[SurveyQuestionResponse] ([ID], [SurveyResponse_ID], [QuestionID], [StageID], [QuestionResponse], [QuestionStatement]) VALUES (2, 1, 2, 1, 0, NULL)
INSERT [dbo].[SurveyQuestionResponse] ([ID], [SurveyResponse_ID], [QuestionID], [StageID], [QuestionResponse], [QuestionStatement]) VALUES (3, 1, 3, 2, 0, N'You should work with your vet/MSD Animal Health Respresentative to create a dry-off stategy.')
SET IDENTITY_INSERT [dbo].[SurveyQuestionResponse] OFF
SET IDENTITY_INSERT [dbo].[SurveyResponse] ON 

INSERT [dbo].[SurveyResponse] ([ID], [Survey_ID], [SurveyVersion], [SubmittedDate], [Farm_ID], [User_ID], [ResponseIdentifier]) VALUES (1, 1, 10, CAST(N'2019-09-18T06:52:42.067' AS DateTime), 1, 1, N'192785f1-7421-4ef2-9d77-b165443397cc')
INSERT [dbo].[SurveyResponse] ([ID], [Survey_ID], [SurveyVersion], [SubmittedDate], [Farm_ID], [User_ID], [ResponseIdentifier]) VALUES (2, 1, 10, CAST(N'2018-09-18T06:52:42.067' AS DateTime), 1, 1, N'9b02c485-661a-49b4-8608-de455aa5837d')
SET IDENTITY_INSERT [dbo].[SurveyResponse] OFF
SET IDENTITY_INSERT [dbo].[SurveyStage] ON 

INSERT [dbo].[SurveyStage] ([ID], [Survey_ID], [StageText], [ShowStageIntro], [StageTitle]) VALUES (1, 1, NULL, 0, N'Farm Suitability')
INSERT [dbo].[SurveyStage] ([ID], [Survey_ID], [StageText], [ShowStageIntro], [StageTitle]) VALUES (2, 1, N'Dry-off Preparation', 1, N'Stage 1')
INSERT [dbo].[SurveyStage] ([ID], [Survey_ID], [StageText], [ShowStageIntro], [StageTitle]) VALUES (3, 1, N'Dry-off', 1, N'Stage 2')
SET IDENTITY_INSERT [dbo].[SurveyStage] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Token], [Name]) VALUES (1, N'PMN_TEST_TOKEN', N'Vicky the Vet')
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Index [IX_Farm_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_Farm_ID] ON [dbo].[CowStatus]
(
	[Farm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FarmType_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_FarmType_ID] ON [dbo].[Farm]
(
	[FarmType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[Farm]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stage_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_Stage_ID] ON [dbo].[SurveyQuestion]
(
	[Stage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Survey_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_Survey_ID] ON [dbo].[SurveyQuestion]
(
	[Survey_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SurveyResponse_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_SurveyResponse_ID] ON [dbo].[SurveyQuestionResponse]
(
	[SurveyResponse_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Farm_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_Farm_ID] ON [dbo].[SurveyResponse]
(
	[Farm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Survey_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_Survey_ID] ON [dbo].[SurveyResponse]
(
	[Survey_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[SurveyResponse]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Survey_ID]    Script Date: 18/09/2019 06:57:16 ******/
CREATE NONCLUSTERED INDEX [IX_Survey_ID] ON [dbo].[SurveyStage]
(
	[Survey_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Farm] ADD  DEFAULT ((0)) FOR [FarmType_ID]
GO
ALTER TABLE [dbo].[SurveyResponse] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ResponseIdentifier]
GO
ALTER TABLE [dbo].[CowStatus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CowStatus_dbo.Farm_Farm_ID] FOREIGN KEY([Farm_ID])
REFERENCES [dbo].[Farm] ([ID])
GO
ALTER TABLE [dbo].[CowStatus] CHECK CONSTRAINT [FK_dbo.CowStatus_dbo.Farm_Farm_ID]
GO
ALTER TABLE [dbo].[Farm]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Farm_dbo.FarmType_FarmType_ID] FOREIGN KEY([FarmType_ID])
REFERENCES [dbo].[FarmType] ([ID])
GO
ALTER TABLE [dbo].[Farm] CHECK CONSTRAINT [FK_dbo.Farm_dbo.FarmType_FarmType_ID]
GO
ALTER TABLE [dbo].[Farm]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Farm_dbo.User_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Farm] CHECK CONSTRAINT [FK_dbo.Farm_dbo.User_User_ID]
GO
ALTER TABLE [dbo].[SurveyQuestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyQuestion_dbo.Survey_Survey_ID] FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SurveyQuestion] CHECK CONSTRAINT [FK_dbo.SurveyQuestion_dbo.Survey_Survey_ID]
GO
ALTER TABLE [dbo].[SurveyQuestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyQuestion_dbo.SurveyStage_Stage_ID] FOREIGN KEY([Stage_ID])
REFERENCES [dbo].[SurveyStage] ([ID])
GO
ALTER TABLE [dbo].[SurveyQuestion] CHECK CONSTRAINT [FK_dbo.SurveyQuestion_dbo.SurveyStage_Stage_ID]
GO
ALTER TABLE [dbo].[SurveyQuestionResponse]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyQuestionResponse_dbo.SurveyResponse_SurveyResponse_ID] FOREIGN KEY([SurveyResponse_ID])
REFERENCES [dbo].[SurveyResponse] ([ID])
GO
ALTER TABLE [dbo].[SurveyQuestionResponse] CHECK CONSTRAINT [FK_dbo.SurveyQuestionResponse_dbo.SurveyResponse_SurveyResponse_ID]
GO
ALTER TABLE [dbo].[SurveyResponse]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyResponse_dbo.Farm_Farm_ID] FOREIGN KEY([Farm_ID])
REFERENCES [dbo].[Farm] ([ID])
GO
ALTER TABLE [dbo].[SurveyResponse] CHECK CONSTRAINT [FK_dbo.SurveyResponse_dbo.Farm_Farm_ID]
GO
ALTER TABLE [dbo].[SurveyResponse]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyResponse_dbo.Survey_Survey_ID] FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([ID])
GO
ALTER TABLE [dbo].[SurveyResponse] CHECK CONSTRAINT [FK_dbo.SurveyResponse_dbo.Survey_Survey_ID]
GO
ALTER TABLE [dbo].[SurveyResponse]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyResponse_dbo.User_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SurveyResponse] CHECK CONSTRAINT [FK_dbo.SurveyResponse_dbo.User_User_ID]
GO
ALTER TABLE [dbo].[SurveyStage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyStage_dbo.Survey_Survey_ID] FOREIGN KEY([Survey_ID])
REFERENCES [dbo].[Survey] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SurveyStage] CHECK CONSTRAINT [FK_dbo.SurveyStage_dbo.Survey_Survey_ID]
GO
USE [master]
GO
